a {
  color: rgb(92, 114, 138);
  text-decoration: none;
  transition: color .2s ease;
}

a:hover {
  color: hsl(14, 80%, 30%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(237, 241, 245);
  color: rgb(92, 114, 138);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  margin-top: 0;
  text-align: center;
}

img {
  max-width: 100%;
}